.logo-img {
    width:100px;
}

.header-div {
    display:flex;
    justify-content: space-between;
    border: 1px solid;
    margin:10px;
}

.body-div {
    margin:10px;
    display: flex;

}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    
}

.nav-items > ul > li {
    padding: 20px;
}

.res-logo {
    width: 95%;
}

.res-card {
    border:1px solid;
    width:150px;
    padding: 5px;
    margin: 5px;

}

.res-container {
    display:flex;
}
